body {
	background-color: #03fcb6;
	font-family: "Varta", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	text-align: center;
}

h4 {
	font-weight: 100;
	font-style: italic;
}

#form {
	background-color: #33d40b;
	padding: 5%;
}

.textbox {
	width: 100%;
}
